<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-list>
    {{ #dataNodes }}
    <mat-list-item>
      <a mat-button routerLink="/{{kebab}}-list">{{name}}</a>
    </mat-list-item>
    {{ /dataNodes }}
  </mat-list>
</mat-sidenav>
<mat-sidenav-content>
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>