import { BrowserModule } from '@angular/platform-browser';
import { ReactiveFormsModule } from '@angular/forms';
import { NgModule } from '@angular/core';

import { BrowserAnimationsModule } from '@angular/platform-browser/animations';
import { MatAutocompleteModule } from '@angular/material/autocomplete';
import { MatButtonModule } from '@angular/material/button';
import { MatCardModule } from '@angular/material/card';
import { MatIconModule } from '@angular/material/icon';
import { MatInputModule } from '@angular/material/input';
import { MatListModule } from '@angular/material/list';
import { MatMenuModule } from '@angular/material/menu';
import { MatPaginatorModule } from '@angular/material/paginator';
import { MatRadioModule } from '@angular/material/radio';
import { MatSelectModule } from '@angular/material/select';
import { MatSidenavModule } from '@angular/material/sidenav';
import { MatSortModule } from '@angular/material/sort';
import { MatTableModule } from '@angular/material/table';
import { MatTabsModule } from '@angular/material/tabs';
import { MatToolbarModule } from '@angular/material/toolbar';

import { AppRoutingModule } from './app-routing.module';
import { AppComponent } from './app.component';
{{ #dataNodes }}
import { {{ pascal }}Component } from './{{ kebab }}/{{ kebab }}/{{ kebab }}.component';
import { {{ pascal }}FormComponent } from './{{ kebab }}/{{ kebab }}-form/{{ kebab }}-form.component';
import { {{ pascal }}ListComponent } from './{{ kebab }}/{{ kebab }}-list/{{ kebab }}-list.component';
import { {{ pascal }}TableComponent } from './{{ kebab }}/{{ kebab }}-table/{{ kebab }}-table.component';
{{ /dataNodes }}

@NgModule({
  declarations: [
    AppComponent,
    {{ #dataNodes }}
    {{ pascal }}Component,
    {{ pascal }}FormComponent,
    {{ pascal }}ListComponent,
    {{ pascal }}TableComponent,
    {{ /dataNodes }}
  ],
  imports: [
    BrowserModule,
    AppRoutingModule,
    ReactiveFormsModule,
    BrowserAnimationsModule,
    MatAutocompleteModule,
    MatButtonModule,
    MatCardModule,
    MatIconModule,
    MatInputModule,
    MatListModule,
    MatMenuModule,
    MatPaginatorModule,
    MatRadioModule,
    MatSelectModule,
    MatSidenavModule,
    MatSortModule,
    MatTableModule,
    MatTabsModule,
    MatToolbarModule,
  ],
  providers: [],
  bootstrap: [AppComponent]
})
export class AppModule { }