.full-width {
  width: 100%;
}

mat-card {
  margin: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

mat-toolbar {
  background-color: #fff;
  border-bottom: solid 1px rgba(0, 0, 0, .12);

  button {
    margin: 0em 1em;
  }

  button:first-child {
    margin-left: 0em;
  }

  button:last-child {
    margin-right: 0em;
  }
}

mat-tab-group {
  margin-bottom: 2em;
}