<form [formGroup]="formGroup" novalidate (ngSubmit)="submit()">
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Street" type="text" formControlName="street">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="City" type="text" formControlName="city">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="State" type="text" formControlName="state">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Country" type="text" formControlName="country">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Postal Code" type="text" formControlName="postalCode">
      </mat-form-field>
    </div>
  </div>
</form>