.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.row:first-child {
  margin-top: 1em;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}