{{=<% %>=}}
<form [formGroup]="formGroup" novalidate (ngSubmit)="submit()">
  <% #properties %>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="<% name %>" type="<% htmlType %>" formControlName="<% camel %>">
      </mat-form-field>
    </div>
  </div>
  <% /properties %>
</form>
<%={{ }}=%>