import { Component } from '@angular/core';

@Component({
  selector: 'app-{{ kebab }}-list',
  templateUrl: './{{ kebab }}-list.component.html',
  styleUrls: ['./{{ kebab }}-list.component.scss']
})
export class {{ pascal }}ListComponent {

  constructor() { }

}
