<mat-toolbar>
  <span>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <span>
    <button mat-button>Accounts</button>
    <button mat-icon-button [matMenuTriggerFor]="menu1"><mat-icon >expand_more</mat-icon></button>
    <mat-menu #menu1="matMenu">
      <button mat-menu-item>Contacts</button>
      <button mat-menu-item>Product Backlogs</button>
    </mat-menu>
  </span>
  <span>
    <button mat-button disabled>/</button>
  </span>
  <span>
    <button mat-button [matMenuTriggerFor]="menu2">Blue Yonder Airlines</button>
    <button mat-icon-button [matMenuTriggerFor]="menu2"><mat-icon >expand_more</mat-icon></button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item>Adventure Works</button>
      <button mat-menu-item>Coho Winery</button>
    </mat-menu>
  </span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-list>
      <mat-list-item>
        <a mat-button routerLink="/account-table">Accounts</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-button routerLink="/contact-table">Contacts</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-button routerLink="/product-backlog-table">Product Backlogs</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>