<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="/account-table">Accounts</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/contact-table">Contacts</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/product-backlog-table">Product Backlogs</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/product-backlog-item-table">Product Backlog Items</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>