mat-sidenav-container {
    width: 100%;
    height: 100%;

    mat-list-item {
        a {
            padding-right: 2em;
            font-size: 14px;
            font-weight: 500;
        }
    }

}

mat-toolbar {
    background-color: #fff;
    border-bottom: solid 1px rgba(0, 0, 0, .12);

    span {
        margin: 0em 1em;
    }

    span:first-child {
        margin-left: 0em;
    }

    span:last-child {
        margin-right: 0em;
    }
}