.full-width {
  width: 100%;
}

mat-card {
  margin: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

mat-toolbar {
  background-color: #fff;
  border-bottom: solid 1px rgba(0, 0, 0, .12);

  button {
    margin: 1em;
  }
}

div.row:first-child {
  margin-top: 1em;
}