<form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
  <mat-toolbar>
    <button mat-button type="submit">Save & Close</button>
    <button mat-button>New Contact</button>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Account">
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Name" type="text" formControlName="name">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Parent" type="text" formControlName="parent">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Type" type="text" formControlName="type">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Phone" type="text" formControlName="phone">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Website" type="text" formControlName="website">
              </mat-form-field>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Address">
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Street" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="City" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="State" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Country" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Postal Code" type="text">
              </mat-form-field>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Contacts">
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Street" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="City" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="State" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Country" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Postal Code" type="text">
              </mat-form-field>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</form>