{{=<% %>=}}
<mat-toolbar>
  <button mat-button (click)="submit()">Save & Close</button>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="<% name %>">
        <app-<% kebab %>-form #form [id]="id" (data)="data($event)"></app-<% kebab %>-form>
      </mat-tab>
      <% #objects %>
      <mat-tab label="<% name %>">
        <app-<% kebab %>-form #<% camel %> [id]="<% camel %>Id"></app-<% kebab %>-form>
      </mat-tab>
      <% /objects %>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<%={{ }}=%>