import { Injectable } from '@angular/core';
import { DataService } from 'src/app/data.service';
import { {{pascal}} } from './{{kebab}}';

@Injectable({
  providedIn: 'root'
})
export class {{pascal}}Service extends DataService<{{pascal}}> { }